
<div class='container'>
  <h2><%= @cocktail.name %></h2>
  <% @cocktail.doses.each do |dose| %>
  <div style='display: flex; align-items: baseline;'>
    <p style='margin-right: 5px;'>Ingredient: <%= dose.ingredient.name %></p>
    <p style='margin-right: 5px;'>Dose: <%= dose.description %></p>
    <%= link_to 'x',
    dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?"}
  %>
  </div>
  <% end %>
  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail.id) %>
    <h1 style='margin-left: 300px;'><%= link_to 'X',
    cocktail_path(@cocktail.id),
    method: :delete,
    data: { confirm: "Are you sure?"}
  %></h1>
</div>
